/* stylelint-disable selector-pseudo-class-no-unknown */

.srOnly {
  position: absolute;
  top: auto;
  left: -100em;
  width: 0.001em;
  height: 0.001em;
  overflow: hidden;
}

.actionArea {
  margin-top: 1rem;
}
